.react-dat-gui .cr.number {
  border-left: 5px solid var(--mandarin-300);
  border-radius: 8px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    

  input[type="text"],
  input[type="number"] {
    color: var(--grey-750);
    height: 50;
  }
  .slider {
    display: block;
    position: relative;
    // border: 1px solid #1a1a1a;
    border-right-width: 1px;
    background-color: var(--grey-150);
    background-image: linear-gradient(90deg, var(--grey-200), var(--grey-750));
    background-size: 0% 100%;
    border-radius: 8px;
    margin-right: 10px;
    background-repeat: no-repeat;
    cursor: ew-resize;
    height: 50px;
  }
}

.react-dat-gui {
  margin-top: 10px;
  right: 16px;
  width: 90%;
  font-size: var(--h6);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .dg {
    margin: 0;
    padding: 0;
    color: #eee;
    overflow: hidden;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100% !important;
      clear: both;
    }

    &.main {
      &::-webkit-scrollbar {
        width: 5px;
        background: #1a1a1a;
      }

      &::-webkit-scrollbar-corner {
        height: 0;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: lighten(#1a1a1a, 30%);
      }
    }
  }

  .cr {
    display: block;
    background-color: var(--grey-150);
    user-select: none;

    &:not(:last-child) {
      border-bottom: 1px solid lighten(#1a1a1a, 5%);
    }

    label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 124.7%;
      padding: 3px 2px 3px 8px;
    }

    .label-text {
      width: 20% !important;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      color: black;
      font-weight: var(--semi-bold);
    }

    input[type="text"] {
      background: lighten(#1a1a1a, 8.5%);
      // border: 1px solid #1a1a1a;
      border-radius: 0;
      margin: 0;
      outline: none;
      transition: 0.35s ease;

      &:hover {
        background: var(--grey-750);
        color: var(--grey-100);
      }

      &:focus {
        background: lighten(lighten(#1a1a1a, 8.5%), 10%);
        color: #fff;
      }

      &::-ms-clear {
        display: none;
      }
    }
    input[type="number"] {
      background: var(--grey-100);
      border-top: none solid #1a1a1a;
      // border-bottom: 2px solid #1a1a1a;
      border-radius: 8px;
      margin: 0;
      outline: none;
      font-size: inherit;
        transition: 0.35s ease;
      &:hover {
        background: var(--grey-750);
        color: var(--grey-100);
      }

      &:focus {
        background: var(--grey-750);
        color: var(--grey-100);
      }

      &::-ms-clear {
        display: none;
      }
    }
  }
}
